@font-face {
  font-family: 'Brandon';
  src: url('assets/font/Brandon_thin.otf') format('truetype');
  font-weight: 300;
  font-style: thin;
}

@font-face {
  font-family: 'Brandon';
  src: url('assets/font/Brandon_reg.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: url('assets/font/Brandon_bld.otf') format('truetype');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'Brandon';
  src: url('assets/font/Brandon_blk.otf') format('truetype');
  font-weight: 600;
  font-style: bolder;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('assets/font/GT-Walsheim-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: thin;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('assets/font/GT-Walsheim-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('assets/font/GT-Walsheim-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: bold;
}

