$tablet-breakpoint: 767px;
$laptop-breakpoint: 1000px;

/* Colors */
$gold: #C0B283;
$silk: #DCD0C0;
$paper: #F4F4F4;
$choco: #373737;
$tan: #C09F80;
$grain: #D7CEC7;
$oxblood: #76323F;
$blackboard: #565656;
$sand: #F4DECB;
$shell: #F8EEE7;